<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= link_to "Hotwire Forums", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Discussions", discussions_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "Categories", categories_path, class: "nav-link active" %>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <%= links_when_logged_in %>
        <%= links_when_logged_out %>
      </ul>
    </div>
  </div>
</nav>
